.row
  %header.jumbotron
    %h1= link_to "lede.in", root_path
    %p.lead Read stuff you've saved to Instapaper...faster!

.row
  %a.btn.btn-primary.btn-large{"data-target" => "#signin_form", "data-toggle" => "modal"} Sign in with Instapaper

#signin_form.modal.fade.hide
  .modal-header
    / %button.close{:type => "button", "data-dismiss" => "modal"} x
    %h2 Sign in
  .modal-body
    %p.lead Enter your Instapaper credentials to get started
    .alert.alert-info
      %strong Note:
      in order to use lede.in, you need an Instapaper
      %a{href: "http://www.instapaper.com/subscription", target: "_blank"} subscriber account.
      To understand why, read
      %a{href: "http://blog.instapaper.com/post/3208433429", target: "_blank"} this explanation.
    = form_tag sessions_path do |f|
      = label_tag :x_auth_username, "Username"
      = text_field_tag :x_auth_username
      = label_tag :password, "Password (if you have one)"
      = password_field_tag :password
      %p= submit_tag "Let's get reading!", :class => "btn btn-large btn-primary"