%h1 
  Folders
.well
  %p= link_to "Unread"
  %p= link_to "Starred"
  - for @folder in @folders do
    %p= link_to @folder.title
  %p= link_to "Archive"

%h1 
  Bookmarks
.well
  - for @bookmark in @bookmarks do
    %p= link_to @bookmark.title, @bookmark.url, {target: "_blank"}