%h1 
  Folders
%hr
%p= link_to "Unread"
%p= link_to "Starred"
- i = 0
- while i < @folders.count do
  - @folder = @folders[i]
  %p= link_to @folder["title"]
  - i += 1
%p= link_to "Archive"
%hr

%h1 
  Bookmarks
%hr
- i = 0
- while i < @bookmarks.count do
  - @bookmark = @bookmarks[i]
  %p= link_to @bookmark["title"], @bookmark["url"], {target: "_blank"}, id: @bookmark["bookmark_id"]
  - i += 1
%hr